.post__container {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
@media (max-width: 600px) {
  .post__container {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
}
